/* #jumbotron, #navbar {
    background: url("{{ url_for('static', filename='backgrounds/allure.webp') }}") no-repeat center fixed;
    background-size: cover;
} */

#jumbotron, #navbar {
    background: url("{{ url_for('static', filename='backgrounds/allure.png') }}") no-repeat center fixed;
    background-size: cover;
}
