<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block head %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WJBFGMQ');</script>
            <!-- End Google Tag Manager -->

            {% assets "scss_all" %}
                <link rel="stylesheet" href="{{ ASSET_URL }}"></link>
            {% endassets %}
            <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
            <link rel="preload" href="{{ url_for('static', filename='fonts/cmunrm.ttf') }}" as="font" type="font/woff2" crossorigin>

            <meta charset='UTF-8'/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="author" content="Kevin Zheng">
            <meta name="keywords" content="Software Engineering, student, University of California Merced, MESA Lab, Mechatronics, Physics, Computer Science, Computer Engineering, Research, Math, Fractional Calculus, Quantum Computing, Computational Physics">
            <meta name="description" content="Kevin Zheng is a 3rd year undergraduate student double majoring in computer science & engineering and physics, looking for jobs and internships.">
        {% endblock %}
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJBFGMQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <header>
        {% block header %}
            <nav id="navbar" class="navbar navbar-light navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="#navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-content">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{{ url_for('resume') }}">Resume</a>
                    </div>
                </div>
            </nav>
        {% endblock %}
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {# <hr class="bg-white">
        <div class="container">
            <footer>
                {% block footer %}
                {% endblock %}
            </footer>
        </div> #}
        {# optional imports for bootstrap #}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        {# fontawesome #}
        <script src="https://kit.fontawesome.com/eecd862848.js" crossorigin="anonymous"></script>
        {% assets "js_all" %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJBFGMQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
</html>
