{% extends 'base.jinja.html' %}
{% block head %}
    {{ super() }}
    <title>Kevin Zheng</title>
{% endblock %}

{% block header %}
    {{ super() }}
    <div id="jumbotron" class="jumbotron jumbotron-fluid text-dark">
        <div class="container rounded text-center">
            <h1 class="display-1" style="font-family: 'Computer Modern', serif;">Kevin Zheng</h1>
            <p class="lead">
                Actively seeking Software Engineering and Physics roles<br>
                Recent graduate of University of California, Merced<br>
                <i> Computer Science & Engineering </i><br>
                <i> Physics (emph. Mathematical Physics) </i>
            </p>
            <hr class="my-4">
            <p class="lead">
                Former LADSS Fellow at <a href="https://www.lanl.gov/projects/national-security-education-center/engineering/los-alamos-dynamic-summer-school/programs-2021.php">Los Alamos National Laboratory</a> <br>
                Former Undergraduate Researcher at the <a href="http://mechatronics.ucmerced.edu/">MESA Lab</a> <br>
                Former Software Engineering contractor at Quantum Corp <br>
            </p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <address>
        zhengkevin256@gmail.com
    </address>
{% endblock %}

{% block content %}
    <section>
        <h1 class="text-center">What brings you to my domain <span class="text-muted">name</span>?</h1>
        <div class="row row-eq-height">
            <div class="col">
                <div class="card mx-auto bg-dark h-100" style="max-width: 20rem; min-width: 15rem">
                    <a href="http://mechatronics.ucmerced.edu"><img class="card-img-top bg-light py-5 px-3" src="{{ url_for('static', filename='images/mesa_banner.png') }}" alt="MESA Lab"></a>

                    <div class="card-body">
                        <h5 class="card-title">Interested in my research?</h5>
                        <p class="card-text">
                            I'm an undergraduate researcher at the <a href="http://mechatronics.ucmerced.edu/">MESA Lab</a>.
                            I do research in <a href="https://en.wikipedia.org/wiki/Physicomimetics">Physicomimetics</a> and <a href="https://en.wikipedia.org/wiki/Fractional_calculus">fractional calculus</a>-based drone control techniques.
                        </p>
                        <a href="http://mechatronics.ucmerced.edu" class="btn btn-primary">Visit!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-auto bg-dark h-100" style="max-width: 20rem; min-width: 15rem">
                    <a href="{{ url_for('resume') }}"><i class="card-img-top bg-light text-dark text-center py-5 fas fa-briefcase fa-5x"></i></a>
                    <div class="card-body">
                        <h5 class="card-title">Looking for a new grad hire?</h5>
                        <p class="card-text">
                        I've recently graduated (December 18<sup>th</sup> 2021) with a B.S. double major in Computer Science &amp; Science and Physics.
                        I'm interested in software engineering and quantum computing roles.
                        </p>
                        <a href="{{ url_for('resume') }}" class="btn btn-primary">View CV</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="bg-light">
    <section id="about-me" class="clearfix">
        <h1 class="text-center">About Me</h1>
        <figure id="profile" class="figure float-left m-3 w-25">
            <img src="{{ url_for('static', filename="profile-black.jpg") }}" class="figure-img img-fluid rounded" alt="my face"/>
        </figure>

        <div class="my-auto p-auto">
            <p>
            I was a full-stack software engineering contractor, working for about a year and a half, up until the pandemic.
            I developed analytics software which can monitor customer appliance's health, retrieve system logs, as well as execute occasional maintainance.
            </p>

            <p>
            For my software engineering capstone project, I worked with the <a href="https://www.morningstarco.com/">Morning Star Packing Company</a> on developing a web application which geotags barcodes, addressing lost cargo in a particular outdoor warehouse.
            I led a team, which won the Business Solution track in the <a href="https://innovatetogrow.ucmerced.edu/">Innovate to Grow</a> event at the University of California, Merced.
            </p>

            <div class="row my-3">
                {% for link, icon in [
                    ("https://github.com/CoffeeVector"            , "fab fa-github fa-3x"),
                    ("https://gitlab.com/CoffeeVector"            , "fab fa-gitlab fa-3x"),
                    ("mailto:zhengkevin256@gmail.com"             , "fas fa-envelope fa-3x"),
                    ("https://www.linkedin.com/in/kevin-zheng256/", "fab fa-linkedin fa-3x"),
                ] %}
                <div class="col text-center">
                    <a href="{{ link }}">
                        <i class="{{ icon }}"></i>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
