{% extends 'base.jinja.html' %}
{% block head %}
    {{ super() }}
    <title>Kevin Zheng - Resume</title>
{% endblock %}
{% block header %}
    {{ super() }}
    <div id="jumbotron" class="jumbotron jumbotron-fluid text-dark">
        <div class="container">
            <h1 style="font-family: 'Computer Modern', serif;">Resume / CV</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section>
        <div class="row">
            <div class="col text-center">
                <figure id="resume" class="figure m-3 w-75">
                    <a href="{{ url_for('resume_pdf') }}">
                        <img src="{{ url_for('resume_jpg') }}" class="figure-img img-fluid rounded" alt="My resume"/>
                    </a>
                </figure>
            </div>
        </div>
    </section>
    <section>
        <h1>Education</h1>
        <p>
        I'm a recent graduated of <a href="https://www.ucmerced.edu/">University of California, Merced</a> and studied computer science &amp; engineering and physics.
        I have completed much of the standard coursework for both majors, as well as some graduate level coursework in control theory and fractional dynamics.
        </p>
        <p>
            This is some of the coursework that I've taken.
            I've excluded courses, such as lower divisions, that are redundant or not relevant.
            0** level courses are lower division, 1** are upper division, 2** are graduate level.
        </p>
        <div class="row">
            <div class="col">
                <table id="cse-coursework" class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Computer Science &amp; Engineering</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course_number, course_name in cse_coursework %}
                        <tr>
                            <th scope="row" style="white-space: nowrap">{{ course_number }}</th>
                            <td>{{ course_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table id="phys-coursework" class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Physics</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course_number, course_name in phys_coursework %}
                        <tr>
                            <th scope="row" style="white-space: nowrap">{{ course_number }}</th>
                            <td>{{ course_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table id="other-coursework" class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Other Coursework</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" style="white-space: nowrap">EECS 210</th>
                            <td>Linear Multivariable Control (Graduate Level)</td>
                        </tr>
                        <tr>
                            <th scope="row" style="white-space: nowrap">ME 211</th>
                            <td>Nonlinear Control (Graduate Level)</td>
                        </tr>
                        <tr>
                            <th scope="row" style="white-space: nowrap">ME 280</th>
                            <td>Fractional Order Mechanics <a href="#me-280-footnote">*</a> (Graduate Level)</td>
                        </tr>
                    </tbody>
                </table>
                <p id="me-280-footnote">
                    *This course is quite unique to <abbr title="University of California, Merced">UCM</abbr>.
                    It covers <a href="https://en.wikipedia.org/wiki/Fractional_calculus">Fractional Calculus</a> a budding branch of mathematics, as well as it's applications in <a href="https://en.wikipedia.org/wiki/Fractional-order_system">mechanics</a>.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
